.form-row {
  margin-bottom: 20px;
}

.section-1 {
  color: #FFFFFF;
  background-image: url(/images/bg-5.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0 100px;
  text-align: center;
}

.section-1 h1 {
  text-transform: uppercase;
}

.section-1 .btn {
  margin-top: 40px;
}

.section-1 .note {
  display: block;
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 10px;
  text-shadow: 0 0 2px #000000;
}

.section-2 {
  background-color: #FFFFFF;
  position: relative;
}

.section-2 h2 {
  margin-top: 0;
  padding-top: 40px;
}

.section-2::before {
  background-color: #FFFFFF;
  border-radius: 50% 50% 0 0;
  content: " ";
  display: block;
  height: 60px;
  top: -30px;
  position: absolute;
  width: 100%;
}

.section-2 h4 {
  margin: 0;
}

.section-2 .container { padding-top: 30px; }

.section-3 {
  background-color: #FFFFFF;
  padding: 40px 0;
  position: relative;
  text-align: center;
}

.section-3::after {
  background-color: #FFFFFF;
  border-radius: 0 0 50% 50%;
  content: " ";
  display: block;
  height: 60px;
  bottom: -30px;
  position: absolute;
  width: 100%;
}

.section-3 .container {
  max-width: 600px;
}

.section-3 .balance {
  border: 1px solid #000000;
  margin-bottom: 20px;
  padding: 20px;
}

.section-3 .balance h4 {
  margin: 0;
  text-transform: uppercase;
}

.section-3 .balance strong {
  font-size: 40px;
}

.section-3 .btn {
  width: 100%;
}

.section-3 .note {
  display: block;
  font-size: 12px;
  margin-top: 10px;
}

.section-4 {
  background-color: #0D1424;
  background-image: url(/images/mystery-chest-transparent.png);
  background-position: top;
  background-size: 500px;
  background-repeat: no-repeat;
  padding: 200px 0 100px;
  text-align: center;
}

.section-4 .container {
  padding-top: 180px;
  max-width: 600px;
}

.section-4 .form {
  backdrop-filter: blur(24px);
  border: 4px solid rgb(247, 37, 133);
  border-radius: 12px;
  margin: 0 20px;
  padding: 20px;
}

.section-4 h2 {
  color: #FFFFFF;
}

.section-4 .btn {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-25 { 
  flex: 0 calc(25% - 14px);
  margin: 7px;
}

.flex-20 { 
  flex: 0 calc(20% - 14px);
  margin: 7px;
}

.mt-10 { margin-top: 10px; }
.d-none { display: none; }
.no-profile {
  text-align: center;
  color: #f00;
}

.progress-bar {
  width: 100%;
  background-color: #757575;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.progress-bar .floating-label { 
  color: #fff;
  left: 10px;
  position: absolute; 
  top: 0;
}

.progress-bar-fill {
  display: block;
  height: 22px;
  transition: width 500ms ease-in-out;
}

.progress-bar#hunger-bar .progress-bar-fill { background-color: #d68c72; }
.progress-bar#hygiene-bar .progress-bar-fill { background-color: #2563eb; }
.progress-bar#energy-bar .progress-bar-fill { background-color: #26724d; }
.progress-bar#fun-bar .progress-bar-fill { background-color: #bf5c07; }
.progress-bar#social-bar .progress-bar-fill { background-color: #bf0707; }
.progress-bar#happiness-bar .progress-bar-fill { background-color: #a59801; }
.progress-bar#experience-bar .progress-bar-fill { background-color: #863e96; }
.progress-bar#experience-bar .floating-label { left: initial; right: 10px;}

.profile-card { 
  padding: 10px;
  position: relative; 
}

.profile-card .avatar-wrapper {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  overflow: hidden;
}

.profile-card .avatar-wrapper img {
  width: 100%;
}

.profile-card .avatar-details {
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
  padding-left: 15px;
}

.profile-card .avatar-details .progress-bar {
  margin-left: 0;
}

.profile-card .avatar-details #avatar-name {
  font-size: 25px;
  font-weight: 700;
}

.profile-card .avatar-details #account-class { color: #aaa; }
.profile-card .avatar-details .level-wrapper {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 15px;
}

.profile-card .avatar-details .level-wrapper #avatar-level { font-size: 25px; }

.profile-card .stats-wrapper {
  display: flex;
  width: 100%;
}
.profile-card .stats-wrapper .stats-column { width: 49%; }
.profile-card .stats-wrapper .stats-column:nth-child(2) { padding-left: 10px; }

.item-card {
  border-radius: 7px;
  box-shadow: 0 0px 4px rgb(0 0 0 / 30%);
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
}

.item-card .item-name { font-weight: 600; }
.item-card .item-image {
  border-radius: 100%;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
  overflow: hidden;
  width: 70px;
}

.item-card .item-image img { width: 100%; }
.item-card .sell-block {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #44444480;
  left: 0;
}

.item-card .sell-block .btn { 
  align-self: center;
  margin: 0 auto;
  padding: 7px 10px;
  background-color: rgb(84, 21, 234);
  color: #fff;
}

.item-card:hover .sell-block { display: flex; }

.swal2-popup input[type="number"] {
  font-size: 15px;
  height: 30px;
  width: 30%;
}

@media (max-width: 767px) {
  .flex-container {
    flex-direction: column;
  }
}