@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
body {
  font-family: 'Inter', sans-serif;
}

.navbar li {
  color: #fff;
  font-size: 18px;
}

footer {
  color: #fff;
  font-size: 16px;
}