@import url("https://fonts.googleapis.com/css?family=Candal&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");

.besbas_neue {
  font-family: "Bebas Neue", sans-serif;
}

.candal {
  font-family: "Candal", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}

.header {
  position: relative;
  overflow: hidden;
  background:#fff;
  width:100%;
}

.header:after {
  margin-top: -100px;
  content: "";
  position: absolute;
  height: 200px;
  left: -10%;
  right: -10%;
  border-radius: 50%;
  bottom: -52px;
  background: #fff;
  z-index: 50;
  background: rgb(255, 255, 255);
}

.head {
  position: relative;
  overflow: hidden;
  width:100%;
  height: 100vh;
}

.head:after {
  content: "";
  position: absolute;
  height: 200px;
  left: -10%;
  right: -10%;
  border-radius: 50%;
  bottom: -62px;
  background: #fff;
  z-index: 50;
  background: rgb(255, 255, 255);
}


.intro {
  position: relative;
  overflow: hidden;
}

.intro::after {
  content: "";
  position: absolute;
  height: 200px;
  left: -10%;
  right: -10%;
  border-radius: 50%;
  bottom: -62px;
  background: #fff;
  z-index: 50;
  background: rgba(188, 247, 255, 1);
box-shadow: 0px -24px 95px 54px rgba(255,255,255,0.48);
-webkit-box-shadow: 0px -24px 95px 54px rgba(255,255,255,0.48);
-moz-box-shadow: 0px -24px 95px 54px rgba(255,255,255,0.48);
}

.private-sale-bg {
  position: relative;
  overflow:hidden;
  background: rgb(188, 247, 255);
  background: linear-gradient(
    0deg,
    rgba(188, 247, 255, 0) 0%,
    rgba(188, 247, 255, 1) 100%
  );
  z-index:999;
}

.private-sale-bg::after {
  content: "";
  position: absolute;
  height: 200px;
  left: -10%;
  right: -10%;
  border-radius: 50%;
  bottom: -62px;
  z-index: 0;
  background: rgb(255, 255, 255);
}

.private-sale {
  position: relative;
  overflow: hidden;
}

.private-sale::after {
  content: "";
  position: absolute;
  height: 200px;
  left: -10%;
  right: -10%;
  border-radius: 50%;
  bottom: -62px;
  background: #fff;
  z-index: 40;
  background: rgba(188, 247, 255, 1);
}

.mystery-box {
  position: relative;
  overflow: hidden;
}

.mystery-box::after {
  content: "";
  position: absolute;
  height: 200px;
  left: -10%;
  right: -10%;
  border-radius: 50%;
  bottom: -120px;
  background: #fff;
  z-index: -10;
  background: #262655;
}

.mystery-box-light {
    box-shadow: -4px -5px 153px 39px rgba(255,255,255,0.75);
    -webkit-box-shadow: -4px -5px 153px 39px rgba(255,255,255,0.75);
    -moz-box-shadow: -4px -5px 153px 39px rgba(255,255,255,0.75);
}

.footer {
  position: relative;
  overflow: hidden;
}

.half-circle {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  border-bottom-left-radius: 100px;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (min-width: 2580px) {
  #mountain {
    margin-bottom: -10vw;
  }
}

@media only screen and (min-width: 3480px) {
  #mountain {
    margin-bottom: -15vw;
  }
}

@media only screen and (min-width: 4000px) {
  #mountain {
    margin-bottom: -18vw;
  }
}

@media only screen and (min-width: 4500px) {
  #mountain {
    margin-bottom: -20vw;
  }
}

@media only screen and (min-width: 5000px) {
  #mountain {
    margin-bottom: -25vw;
  }
}

@media only screen and (min-width: 5500px) {
  #mountain {
    margin-bottom: -20vw;
  }
}

@media only screen and (min-width: 6000px) {
  #mountain {
    margin-bottom: -22vw;
  }
}

@media only screen and (min-width: 7000px) {
  #mountain {
    margin-bottom: -25vw;
  }
}

@media only screen and (min-width: 8000px) {
  #mountain {
    margin-bottom: -30vw;
  }
}

.d-block {
  display: block;
}

@media (min-width: 640px) {
  .sm\:mt-0 {
    margin-top: 0px;
  }
}
