@import url("https://fonts.googleapis.com/css?family=Candal&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

body {
  background-color: #AFE7F1;
  font-family: 'Inter', sans-serif;
}

#title {
  font-family: 'Canal', sans-serif;
  color: #5415EA;
}

.navbar li {
  color: #5415EA;
}

.forest {
  background-attachment: fixed;
  background-image: url('../images/private-sale-bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.foot {
  background-color: #000000;
  color: #FFFFFF;
  position: relative;
  text-align: center;
  padding-bottom: 40px;
  z-index: 10;
}

.foot img {
  display: inline-block;
  width: 300px;
}

.foot ul {
  margin-bottom: 20px;
}

.foot h4 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}

.foot h5 {
  font-size: 12px;
}

.foot h6 {
  font-size: 12px;
  position: absolute;
  text-transform: uppercase;
  top: 50px;
  width: 100%;
}

.foot h6 span {
  display: inline-block;
  margin-left: 75px;
}