@import url("https://fonts.googleapis.com/css?family=Candal&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

body {
  background-color: #AFE7F1;
  font-family: 'Inter', sans-serif;
}

#title {
  font-family: 'Canal', sans-serif;
  font-size: 100px;
  color: #5415EA;
  z-index:20;
}

#error {
  color: #DF0000;
  margin-top: 5px;
}

#notes {
  margin-top: 5px;
}

.navbar li {
  color: #5415EA;
}

input#amount {
  min-width: 150px;
}

.forest {
  background-image: url('../images/aod_bg_token_sale.png');
  height: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.box-item {
  max-width: 900px;
}

.foot {
  background-color: #000000;
  color: #FFFFFF;
  position: relative;
  text-align: center;
  padding-bottom: 40px;
  z-index: 10;
}

.foot img {
  display: inline-block;
  width: 300px;
}

.foot ul {
  margin-bottom: 20px;
}

.foot h4 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}

.foot h5 {
  font-size: 12px;
}

.foot h6 {
  font-size: 12px;
  position: absolute;
  text-transform: uppercase;
  top: 50px;
  width: 100%;
}

.foot h6 span {
  display: inline-block;
  margin-left: 75px;
}

@media (max-width: 767px) {
  #title {
    font-size: 50px;
    margin-top: 100px;
  }
}