@import url("https://fonts.googleapis.com/css?family=Candal&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

body {
  font-family: "Inter", sans-serif;
  background: rgb(177, 255, 112);
}

#title {
  font-family: "Canal", sans-serif;
  font-size: 100px;
  color: #5415ea;
  z-index: 20;
}

#error {
  color: #df0000;
  margin-top: 5px;
}

#notes {
  margin-top: 5px;
}

.navbar li {
  color: #5415ea;
}

input#amount {
  min-width: 150px;
}

.forest {
  background-image: url("../images/aod_bg_token_sale.png");
  height: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  z-index: 10;
}

.box-item {
  max-width: 900px;
}

.foot img {
  display: inline-block;
  width: 300px;
}

.foot ul {
  margin-bottom: 20px;
}

.foot h4 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}

.foot h5 {
  font-size: 12px;
}

.foot h6 {
  font-size: 12px;
  position: absolute;
  text-transform: uppercase;
  top: 50px;
  width: 100%;
}

.foot h6 span {
  display: inline-block;
  margin-left: 75px;
}

@media (max-width: 767px) {
  #title {
    font-size: 50px;
    margin-top: 100px;
  }
}

.falling-leaves {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  background-size: cover;
  overflow: hidden;
}

.leaf-scene {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transform-style: preserve-3d;
}

.leaf-scene div {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  color:#fff;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/125707/leaf.svg)
    no-repeat;
  background-size: 100%;
  transform-style: preserve-3d;
  backface-visibility: visible;
}
