html, body {
  background-color: #0d1424;
  color: #FFFFFF;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

a, a:hover, a:active, a:visited {
  color: #FFFFFF;
}

.section-1 {
  background-image: url(https://bucket.mlcdn.com/a/3546/3546566/images/0cfa1961dbbd30cd50308878bd7b1d47a784425a.png);
  background-position: center -180px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
  text-align: center;
}

.section-1 img {
  width: 200px;
}

.section-2 {
  background-color: #000000;
  color: #FFFFFF;
  padding: 40px 0;
  text-align: center;
  text-transform: uppercase;
}

.section-3 {
  padding: 40px 0 0;
  text-align: center;
}

.section-3 img {
  max-width: 400px;
  width: 100%;
}

.section-4 {
  padding: 40px 0;
  text-align: center;
  margin: auto;
  max-width: 400px;
}

.section-4 label {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.section-4 input {
  border: 1px solid #000000;
  font-size: 15px;
  outline: none;
  padding: 10px;
  width: calc(100% - 22px);
}

.section-4 button {
  background-color: #0C85A5;
  border: 1px solid transparent;
  border-radius: 0;
  color: #FFFFFF;
  margin-top: 5px;
  padding: 10px 30px;
  text-transform: uppercase;
  width: 100%;
}

.section-4 #error {
  color: #DF0000;
  margin-top: 5px;
}

.section-4 .success {
  line-height: 30px;
}

.section-5 {
  padding: 40px 0;
  text-align: center;
}

.section-5 img {
  width: 100px;
}

.section-5 a {
  display: block;
  font-size: 11px;
  margin-top: 10px;
}

@media(max-width: 400px) {
}